*{
    box-sizing: border-box;
}
.App{
    height: 100vh;

 }
.left-block{
    width: 30%;
    border-right: 1px solid #000000;
}
.right-block{
    width: 70%;
    justify-content: space-around;
    align-items: center;
}